html {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #222;
}

body::before, body::after {
  font: bold 42px 'SF Mono', 'Courier New', monospace;
  color: #ff4473;
}

body::before {
  content: "Never gonna give you up...";
  background: url(https://media.giphy.com/media/Ju7l5y9osyymQ/giphy.gif) no-repeat center/cover;
  height: 20rem;
  width: 20rem;
  border: 5px dashed #fff;
  border-radius: 10px;
  display: inline-block;
  padding-top: 3rem;
}

body::after {
  content: "i";
  margin-left: 16px;
  background: #ff4473;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* i hope this works my friend, or else i am gonna do a simpsons move */
